<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding" style="height: 100%;">
    <ion-row style="height: 100%;">
      
      <!-- Panel de configuración (solo en escritorio) -->
      <ion-col size="12" size-lg="3" class="desktop-panel">
        <app-config-panel></app-config-panel>
      </ion-col>
      
      <!-- Panel principal con la lista de trenes -->
      <ion-col size="12" size-lg="9" class="main-panel">
        <app-board></app-board>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <!-- Botón flotante para abrir controles en móvil -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="mobile-fab">
    <ion-fab-button id="open-config-modal" color="primary">
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Modal / Bottom Sheet para móvil -->
  <ion-modal trigger="open-config-modal" [initialBreakpoint]="0.4" [breakpoints]="[0, 0.4, 0.75]">
    <ng-template>
      <ion-content>
        <app-config-panel></app-config-panel>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
